{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<h1>
    <a style ="text-align: center; color:black"; class ="navbar-brand" href="/pitches/new/"> Pitch form </a>
</h1>

<div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for new/favorite pitches" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>



{% endblock%}