<!-- Displaying movie list macro  -->
{% macro displayCatList(category_list) %}

    {% for category in category_list %}
        <!-- <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <p class="text-center"> -->
                <h3>Description</h3>
                <p href="/category/{{category.id}}">
                        {{  category.description}}</p>
                 </p>
                 <h3>Pitch</h3>
                <p href="/category/{{category.id}}">
                    {{   category.content|truncate(10)}}</p>
                </p>

               
        <!-- </div> -->

    {% endfor %}

{% endmacro %}

<!-- Displaying reviews macro -->
{% macro displayComments(comment_list) %}

    {% for comment in comment_list %}

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <h2> {{ comment.description}} </h2>
        <p> {{ comment.comment | truncate(30) }}</p>




    </div>
    {% endfor %}

{% endmacro %}